# Sanal ortamlar
venv_img/
venv_text/

# Derleyici artıkları
__pycache__/
*.py[cod]
*.so

# Jupyter/IPython checkpointleri
.ipynb_checkpoints/

# Sistem dosyaları
.DS_Store
Thumbs.db

# Log dosyaları
*.log

# IDE klasörleri
.vscode/
.idea/
